#Entradas 
#btn
NET "cen"           LOC=N17 | IOSTANDARD=LVCMOS33;
#sw
NET "a<0>"   LOC=J15 | IOSTANDARD=LVCMOS33; 
NET "a<1>"   LOC=L16 | IOSTANDARD=LVCMOS33; 
NET "a<2>"   LOC=M13 | IOSTANDARD=LVCMOS33; 
NET "a<3>"   LOC=R15 | IOSTANDARD=LVCMOS33; 
NET "a<4>"   LOC=R17 | IOSTANDARD=LVCMOS33; 
NET "a<5>"   LOC=T18 | IOSTANDARD=LVCMOS33; 
NET "a<6>"   LOC=U18 | IOSTANDARD=LVCMOS33; 
NET "a<7>"   LOC=R13 | IOSTANDARD=LVCMOS33; 
NET "b<0>"   LOC=T8 | IOSTANDARD=LVCMOS33; 
NET "b<1>"   LOC=U8 | IOSTANDARD=LVCMOS33; 
NET "b<2>"   LOC=R16 | IOSTANDARD=LVCMOS33; 
NET "b<3>"   LOC=T13 | IOSTANDARD=LVCMOS33; 
NET "b<4>"   LOC=H6 | IOSTANDARD=LVCMOS33; 
NET "b<5>"   LOC=U12 | IOSTANDARD=LVCMOS33; 
NET "b<6>"   LOC=U11 | IOSTANDARD=LVCMOS33; 
NET "b<7>"   LOC=V10 | IOSTANDARD=LVCMOS33; 
#Salidas
NET "s<0>"   LOC=H17 | IOSTANDARD=LVCMOS33; 
NET "s<1>"   LOC=K15 | IOSTANDARD=LVCMOS33; 
NET "s<2>"   LOC=J13 | IOSTANDARD=LVCMOS33; 
NET "s<3>"   LOC=N14 | IOSTANDARD=LVCMOS33;
NET "s<4>"   LOC=R18 | IOSTANDARD=LVCMOS33; 
NET "s<5>"   LOC=V17 | IOSTANDARD=LVCMOS33; 
NET "s<6>"   LOC=U17 | IOSTANDARD=LVCMOS33; 
NET "s<7>"   LOC=U16 | IOSTANDARD=LVCMOS33; 

NET "co" LOC=T15 | IOSTANDARD=LVCMOS33; 