## Switches
NET "reset" LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15

## Clock signal
NET "CLK_Nexys"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";

## LEDs
NET "data_out<0>" LOC=H17 | IOSTANDARD=LVCMOS33; 
NET "data_out<1>" LOC=K15 | IOSTANDARD=LVCMOS33; 
NET "data_out<2>" LOC=J13 | IOSTANDARD=LVCMOS33;
NET "data_out<3>" LOC=N14 | IOSTANDARD=LVCMOS33;
NET "data_out<4>" LOC=R18 | IOSTANDARD=LVCMOS33;
NET "data_out<5>" LOC=V17 | IOSTANDARD=LVCMOS33;
NET "data_out<6>" LOC=U17 | IOSTANDARD=LVCMOS33;
NET "data_out<7>" LOC=U16 | IOSTANDARD=LVCMOS33;

NET "pc_out<0>"    LOC=V16 | IOSTANDARD=LVCMOS33;
NET "pc_out<1>"    LOC=T15 | IOSTANDARD=LVCMOS33;
NET "pc_out<2>"   LOC=U14 | IOSTANDARD=LVCMOS33;
NET "pc_out<3>"   LOC=T16 | IOSTANDARD=LVCMOS33;
NET "pc_out<4>"   LOC=V15 | IOSTANDARD=LVCMOS33;
NET "pc_out<5>"   LOC=V14 | IOSTANDARD=LVCMOS33;
NET "pc_out<6>"   LOC=V12 | IOSTANDARD=LVCMOS33;
NET "pc_out<7>"   LOC=V11 | IOSTANDARD=LVCMOS33;